<div class="md:grid md:grid-cols-2 md:gap-4">{{ select|raw }}</div>
{{ panels|raw }}
<div class="mb-3 lg:flex lg:justify-end">
    {{ include('partials/keys_buttons.twig') }}
</div>

{{ include('partials/keys_table.twig', {
    head_items: [
        {'title': 'Key'},
        {'title': 'TTL', 'class': 'w-32'},
    ],
}) }}
